// Import fonts
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Locale fonts
/*@font-face {
  font-family: 'Roboto';
  src: url('@shared/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}*/
